---
import ButtonLink from './button-link.astro';
import Tag from './tag.astro';

const { iconUrl, name, url, urlDisplay, description, prices, providers, tags, slug } = Astro.props
---

<div class="p-6 bg-dark-400 rounded-lg">
  <div class="flex justify-between items-center mb-6">
    <a href={`/tools/${slug}`}><img src={iconUrl} alt={name} class="rounded-full w-10"></a>
    <div class="text-right">
      <a href={`/tool/${slug}`}><h3 class="text-xl font-medium">{name}</h3></a>
      <h4 class="text-dark-200 underline -mt-0.5 text-sm"><a href={url}>{urlDisplay}</a></h4>
    </div>
  </div>
  <div class="bg-dark-500 rounded-lg text-sm p-3 mb-3">{description}</div>
  <div class="flex justify-between items-center py-2 border-b border-white/10">
    <span class="font-medium text-xs">Price</span>
    <div class="flex gap-0.5">
      {[...prices].map((price) => ( 
        <Tag type={price}>{price}</Tag>
      ))}
    </div>
  </div>
  <div class="flex justify-between items-center py-2 border-b border-white/10">
    <span class="font-medium text-xs">Available on</span>
    <div class="flex gap-1">
      {[...providers].splice(0,2).map((provider) => ( 
        <Tag type={provider}>{provider}</Tag>
      ))}
      {[...providers].length > 2 && (
        <Tag>...</Tag>
      )}
    </div>
  </div>
  <div class="flex justify-between items-center py-2 border-b border-white/10">
    <span class="font-medium text-xs">Tags</span>
    <div class="flex gap-0.5">
      {[...tags].splice(0,2).map((tag) => ( 
        <Tag>{tag}</Tag>
      ))}
      {[...tags].length > 2 && (
        <Tag>...</Tag>
      )}
    </div>
  </div>
  <div class="flex gap-2">
    <ButtonLink to={`/tools/${slug}`} color="stroke" className="w-full mt-3">Info</ButtonLink>
    <ButtonLink to={url} className="w-full mt-3">Visit</ButtonLink>
  </div>
</div>