---
import ButtonLink from '../components/button-link.astro'
import '../app.css'
const { title, description, image, url } = Astro.props

---

<html lang="en" transition:animate="slide">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}  />
		<meta name="og:title" content={title}/>
		<meta name="og:description" content={description}/>
		<meta name="og:image" content={image} />
		<meta name="twitter:title" content={title}/>
		<meta name="twitter:description" content={description}/>
		<meta name="twitter:image" content="/images/og.png"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:creator" content="@streali"/>
		<meta name="twitter:site" content="@willtraore"/>
		<meta name="twitter:domain" content={url}/>
		<meta name="twitter:image:alt" content={title}/>
		<meta name="twitter:creator:id" content="@willtraore"/>
		<meta name="twitter:site:id" content="@willtraore"/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script defer data-domain="streamertools.app" src="/public/js/script.js"></script>
	</head>
	<body class="font-sans bg-black text-white">

		<header class="container mx-auto px-6 flex justify-between items-center h-20">
			<a href="/"><img src="/logo.svg" alt="StreamerTools" class="w-36 h-auto"></a>
			<ButtonLink color="primary" to="https://github.com/WilliamTraoreee/streamertools">Add a tool</ButtonLink>
		</header> 
		<main class="container mx-auto px-6">
			<slot />
		</main>
		<footer class="py-10 text-center">
			<p class="text-sm">Created by <a target="_blank" href="https://x.com/willtraore" class="text-primary-400 underline">@willtraore</a></p>
			<p class="text-sm">This project is open-source and available on <a target="_blank" href="https://github.com/WilliamTraoreee/streamertools" class="text-primary-400 underline">Github</a></p>
		</footer>

	</body>
</html>
